POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_DB=ednecorreios
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

MYSQL_HOST=localhost
MYSQL_USER=user
MYSQL_DATABASE=ednecorreios
MYSQL_PASSWORD=password
MYSQL_PORT=3306