name: Report Coverage

on:
  push:
    branches: [ "main" ]

jobs:
  report-coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v4
    - name: Test with Coverage
      run: |
        uv run --python 3.11 coverage run -m pytest tests
        uv run --python 3.11 coverage combine
        uv run --python 3.11 coverage xml
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        fail_ci_if_error: true
