name: Report Coverage

on:
  push:
    branches: [ "main" ]

jobs:
  report-coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Test with Coverage
      run: |
        make test-cov PY=3.11
        make cov-xml PY=3.11
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        fail_ci_if_error: true
